:root {
  --primary-text-color: #fff;
  --secondary-text-color: #c0c0c0;
  --primary-btn-bg: #168bf7;
  --main-bg-color: #00030c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.main-section {
  background: url("assets/background.png") no-repeat center center/contain;
}

.section {
  height: 100vh;
}
